<div class="card-columns">
  <% @toys.each do |toy| %>
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <%= image_tag toy.image.url(:medium), alt: "#{toy.toy_type.humanize}", class: "card-img-top" %>
      <div class="card-body">
        <h4 class="card-title"><%= toy.name %></h4>
        <p class="card-text"><%= toy.description[0..100] + "..."%></p>
      </div>
      <div class="card-footer">
        <%= link_to "Details", toy_path(toy), class: "btn btn-block btn-outline-primary" %>
        <% if is_lendable(toy) %>
          <%= link_to "Borrow", toy_lend_path(toy), method: :post, class: "btn btn-block btn-outline-secondary" %>
        <% else %>
          <small class="text-muted">Sorry, already borrowed from someone else.</small>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
