<div class="card-columns">
  <% toys.each do |toy| %>
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <%= image_tag toy.image.url(:medium), alt: "#{toy.toy_type.humanize}", class: "card-img-top" %>
      <div class="card-body">
        <h3 class="card-title"><%= toy.name %></h3>
        <h6 class="card-title"> <%= toy.toy_type.humanize %> </h6>
        <p class="card-text"><%= toy.description[0..100] + "..."%></p>
        <p class="text-right">
          <i class="fa fa-comment" aria-hidden="true"></i>
              <%= toy.comments.size %>
          <% if current_user.voted_for? toy %>
            <i class="fa fa-heart" aria-hidden="true"></i>
          <% else %>
            <%= link_to toy_like_path(toy), method: :post do %>
              <i class="fa fa-heart-o" aria-hidden="true"></i>
            <% end %>
          <% end %>
            <%= toy.get_likes.size %>
        </p>
      </div>
      <div class="card-footer">
        <%= link_to "Details", toy_path(toy), class: "btn btn-block btn-outline-primary" %>
        <% if is_request_sent(toy) %>
          <small class="text-center text-muted"> Your request has been sent already. </small>
        <% elsif is_lendable(toy) %>
          <%= link_to "Send Borrow Request", toy_request_lend_path(toy), method: :post, class: "btn btn-block btn-outline-secondary" %>
        <% else %>
          <small class="text-muted"><%= next_lend_time(toy) %></small>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
