<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Toy List</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <p>
      <a href="#" class="btn btn-primary">My Toys</a>
      <%= link_to "Add New Toy", new_toy_path, class: "btn btn-secondary" %>
    </p>
  </div>
</section>


<div class="album text-muted">
  <div class="container">

    <div class="row">
      <% @toys.each do |toy| %>
        <div class="card" style="width: 33.333%;">
          <%= image_tag toy.image.url(:medium), alt: "#{toy.toy_type.humanize}" %>
          <div class="text-center">
            <h4><%= toy.name %></h4>
            <p class="card-text text-justify">
              <%= toy.description[0..100] + "..."%>
            </p>
          </div>
          <%= link_to "Details", toy_path(toy), class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
