<div class="jumbotron">
  <div class="row">

    <div class="col-xs-12 col-lg-8">
      <div class="card">
        <%= image_tag @toy.image.url(:large) %>
        <div class="card-body">
          <h3 class="card-title"><%= @toy.name %></h3>
          <p class="card-text"><%= @toy.description %></p>
          <p class="text-right">
            <i class="fa fa-comment" aria-hidden="true"></i>
              <%= @toy.comments.size %>
            <% if current_user.voted_for? @toy %>
              <i class="fa fa-heart" aria-hidden="true"></i>
            <% else %>
              <%= link_to toy_like_path(@toy), method: :post do %>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              <% end %>
            <% end %>
              <%= @toy.get_likes.size %>
          </p>
        </div>
        <div class="card-body">
          <% if user_allowed %>
            <p class="card-text">
              <%= link_to "Edit", edit_toy_path(@toy), class: "btn btn-primary" %>
              <%= link_to "Destroy", toy_path(@toy), method: :delete, confirm: 'Are you sure?', class: "btn btn-danger"   %>
            </p>
            <% if @lends.present? %>
              <h4> Pending Lend Requests </h4>
              <div class="row">
                <% @lends.each do |lend| %>
                  <div class="col-xs-6 col-md-4 col-lg-4">
                    <%= image_tag lend.lender.avatar.url(:thumb) %>
                    <h5 class="card-text"><%= full_user_name(lend.lender) %></h5>
                    <small class="card-text"><%= lend.created_at.strftime('%d-%m-%Y') %></small>
                    <p class="card-text">
                      <%= link_to "Accept", toy_accept_lend_path(@toy, lend_id: lend.id), method: :post, class: "btn btn-info"  %>
                      <%= link_to "Refuse", toy_refuse_lend_path(@toy, lend_id: lend.id), method: :post, class: "btn btn-danger" %>
                    </p>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <% if is_request_sent(@toy) %>
            <small class="text-center text-muted"> Your request has been sent already. </small>
          <% elsif is_lendable(@toy) %>
            <%= link_to "Send Borrow Request", toy_request_lend_path(@toy), method: :post, class: "btn btn-block btn-outline-secondary" %>
          <% else %>
            <small class="text-muted"><%= next_lend_time(@toy) %></small>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4">
      <div class="row">
        <h4 class="text-center">Owner of this Toy</h4>
        <div class="card">
          <%= image_tag @toy.user.avatar.url(:medium), class: "card-img-top" %>
          <div class="card-body">
            <h4 class="card-title"><%= full_user_name(@toy.user) %></h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Email: <%= @toy.user.email %></li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <% if @lender.present? %>
        <div class="row">
          <h4 class="text-center"> Current Lender </h4>
          <div class="card">
            <%= image_tag @lender.avatar.url(:medium), class: "card-img-top" %>
            <div class="card-body">
              <h4 class="card-title"><%= full_user_name(@lender) %></h4>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Lender Until: <%= (@lend.updated_at + 1.month).strftime('%d-%m-%Y') %></li>
              <li class="list-group-item">Email: <%= @lender.email %></li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Comments</h3>
    </div><!-- /col-sm-12 -->
  </div><!-- /row -->
  <% if @toy.comments.present? %>
    <% @toy.comments.each do |comment| %>
      <div class="row">
        <div class="col-sm-2">
          <div class="thumbnail">
            <%= image_tag comment.user.avatar.url(:thumb) %>
          </div><!-- /thumbnail -->
        </div><!-- /col-sm-1 -->
        <div class="col-sm-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong><%= full_user_name(comment.user) %></strong> <span class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago</span>
              <% if current_user.voted_for? comment %>
                <i class="fa fa-heart" aria-hidden="true"></i>
              <% else %>
                <%= link_to toy_comment_like_path(@toy, comment), method: :post do %>
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                <% end %>
              <% end %>
                <%= comment.get_likes.size %>
            </div>
            <div class="panel-body">
              <%= comment.body %>
            </div><!-- /panel-body -->
            <% if user_allowed_comment(comment) %>
              <%= link_to "Delete", toy_comment_path(@toy, comment), method: :delete %>
            <% end %>
          </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->
      </div><!-- /row -->
      <br>
    <% end %>
  <% else %>
    There is nothing in here, yet.
  <% end %>
  <div class="row">
    <div class="col-sm-12">
      <hr>
      <h5>New comment</h5>
      <%= form_for [@toy, Comment.new] do |f| %>
        <%= f.text_area :body, placeholder: "Add a comment", style: "width:100%" %><br/>
        <%= f.submit "Add Comment" %>
      <% end %>
    </div>
  </div>
</div><!-- /container -->
