<div class="jumbotron">
  <div class="row">

    <div class="col-xs-12 col-lg-8">
      <div class="card">
        <%= image_tag @toy.image.url(:large) %>
        <div class="card-body">
          <h3 class="card-title"><%= @toy.name %></h3>
          <p class="card-text"><%= @toy.description %></p>
        </div>
        <div class="card-body">
          <% if user_allowed %>
            <p class="card-text">
              <%= link_to "Edit", edit_toy_path(@toy), class: "btn btn-primary" %>
              <%= link_to "Destroy", toy_path(@toy), method: :delete, confirm: 'Are you sure?', class: "btn btn-danger"   %>
            </p>
            <% if @lends.present? %>
              <h4> Pending Lend Requests </h4>
              <div class="row">
                <% @lends.each do |lend| %>
                  <div class="col-xs-6 col-md-4 col-lg-4">
                    <%= image_tag User.find(lend.borrower_id).avatar.url(:thumb) %>
                    <h5 class="card-text"><%= full_user_name(User.find(lend.borrower_id)) %></h5>
                    <small class="card-text"><%= lend.created_at.strftime('%d-%m-%Y') %></small>
                    <p class="card-text">
                      <%= link_to "Accept", toy_accept_lend_path(@toy, lend_id: lend.id), method: :post, class: "btn btn-info"  %>
                      <%= link_to "Refuse", toy_refuse_lend_path(@toy, lend_id: lend.id), method: :post, class: "btn btn-danger" %>
                    </p>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <% if is_lendable(@toy) %>
            <%= link_to "Send Borrow Request", toy_request_lend_path(@toy), method: :post, class: "btn btn-block btn-outline-secondary" %>
          <% else %>
            <small class="text-muted"><%= next_lend_time(@toy) %></small>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4">
      <h4 class="text-center">Owner of this Toy</h4>
      <div class="card">
        <%= image_tag @toy.user.avatar.url(:medium), class: "card-img-top" %>
        <div class="card-body">
          <h4 class="card-title"><%= full_user_name(@toy.user) %></h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Email: <%= @toy.user.email %></li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>

  </div>
</div>
