<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Toy Project</h1>
    <p class="lead text-muted">Just borrow a Toy from someone else!</p>
    <p class="lead text-muted">Let's start!</p>
    <% if current_user.nil? %>
      <p>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-secondary" %>
      </p>
    <% else %>
      <p>
        <%= link_to "Add new Toy", new_toy_path, class: "btn btn-outline-primary" %>
        <%= link_to "My Toys", toys_path, class: "btn btn-outline-secondary" %>
      </p>
    <% end %>
  </div>
</section>


<h3>Latest Toys</h3>
<div class="album text-muted">
  <div class="container">
    <div class="row">
      <div class="card-columns">
        <% @toys.each do |toy| %>
          <div class="card border-secondary mb-3" style="max-width: 20rem;">
            <%= image_tag toy.image.url(:medium), alt: "#{toy.toy_type.humanize}", class: "card-img-top" %>
            <div class="card-body">
              <h4 class="card-title"><%= toy.name %></h4>
              <p class="card-text"><%= toy.description[0..100] + "..."%></p>
            </div>
            <div class="card-footer">
              <%= link_to "Details", toy_path(toy), class: "btn btn-block btn-outline-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
