<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Toy Project</h1>
    <p class="lead text-muted">Just borrow a Toy from someone else!</p>
    <p class="lead text-muted">Let's start!</p>
    <% if current_user.nil? %>
      <p>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-secondary" %>
      </p>
    <% else %>
      <p>
        <%= link_to "Add new Toy", new_toy_path, class: "btn btn-outline-primary" %>
        <%= link_to "My Toys", toys_path, class: "btn btn-outline-secondary" %>
      </p>
    <% end %>
  </div>
</section>


<h3>Latest Toys</h3>
<div class="album text-muted">
  <div class="container">
    <div class="row">
      <%= render 'toys/toy_card', toys: @toys %>
    </div>

  </div>
</div>
