<div class="container">
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <%= link_to "Toy Project", root_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= 'active' if current_page?(root_path) %>">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(toys_path) %>">
          <%= link_to "Toy List", toys_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(my_toys_path) %>">
          <%= link_to "My Toys", my_toys_path, class: "nav-link" %>
        </li>
      </ul>


      <div class="navbar-right">
        <ul class="navbar-nav mr-auto">

            <% if current_user %>
              <li class="nav-item">
                <%= link_to "My Profile", edit_user_registration_path, class: "btn btn-outline-success my-2 my-sm-0"%>
              </li>
              <li>
                &nbsp;
              </li>
              <li class="nav-item">
                <%= link_to "Sign Out", destroy_user_session_path, class: "btn btn-outline-danger my-2 my-sm-0", method: :delete %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-success my-2 my-sm-0"%>
              </li>
              <li>
                &nbsp;
              </li>
              <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-info my-2 my-sm-0"%>
              </li>
            <% end %>

        </ul>
      </div>
    </div>
  </nav>
</div>
